@import './colorsMixins.scss';

body{
    background-color: $background-color;
    width: 100%;
    height: 100vh;
}


section{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background-color: $nav-background;
    display: flex;
}

.icon{
    width: 100px;
    border-right: 1px solid black;
    background-color: $nav-background;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    

    img{
        width: 30px;
        height: 30px;
        
        
    }

    .box{
        width: 300px;
        height: 250px;
        padding: 20px;
        margin-left: 40px;
        background-color: white;
        display: none;
        font-size: 10px;
    }
}

.icon:hover, .icon:focus{
    background: $nav-hover-background;
    width: 350px;
    
    img{
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }
    .box{
        display: block;
        
    }
}