

$background-color: rgb(168, 76, 40);
$nav-background: rgb(53, 127, 170);
$nav-hover-background: linear-gradient(to top, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// Mixins


